body {
    background: #fff;
    -webkit-user-select: auto;
}

.demo_frame {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    display: -webkit-box;
    -webkit-box-align: stretch;

    .frame_right {
        width: 0;
        border: 0;
        display: block;
        -webkit-box-flex: 1;
    }
}

.side_left {
    padding: 0 10px;
    width: 200px;
    background: #f8f8f8;
    li {
        line-height: 30px;
        padding: 10px 0;
        text-indent: 10px;
        .border-half(bottom);
        a {
            color: #000;
            text-decoration: none;
        }
    }
}

.demo_app_menu {
    display: none;
}


@media screen and (max-width: 640px) {
    .side_left {
        display: none;
    }

    .demo_app_menu {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;
        height: 100%;
        width: 200px;

        .transform(translate3d(200px, 0, 0));

        ul {
            background: rgba(255, 255, 255, 0.98);
            .box-shadow(-1px, 0, 3px, rgba(0,0,0,0.1));
            .scrollfix();
            li {
                .border-half(bottom);
                a {
                    line-height: 30px;
                    padding: 10px 0;
                    display: block;
                    text-indent: 10px;
                }
            }
        }

        div {
            display: block;
            width: 50px;
            height: 50px;
            background: rgba(0, 0, 0, 0.9);
            position: absolute;
            right: 200px;
            top: 0;
            z-index: 10;
            &:before {
                line-height: 50px;
                text-indent: 8px;
            }
        }

        p {
            display: block;
            width: 50px;
            height: 50px;
            background: rgba(0, 0, 0, 0.9);
            position: absolute;
            right: 200px;
            top: 100px;
            z-index: 10;
            &:before {
                line-height: 50px;
                text-indent: 8px;
            }
        }
    }


    .animate_hide {
        .transition(@time: 0.5s);
        .transform(translate3d(200px, 0, 0));
    }

    .animate_show {
        .transition(@time: 0.5s);
        .transform(translate3d(0, 0, 0));
    }
}






.demo_h1 {
    .font-size(16);
    text-indent: 10px;
    line-height: 40px;
    background: #f8f8f8;
    .border-half(vertical);
}

.demo_header {
    padding: 10px;
    header {
        margin-bottom: 10px;
    }
}

.demo_color {
    font-size: 0;
    li {
        display: inline-block;
        text-indent: 10px;
        width: 120px;
        line-height: 20px;
        padding: 10px 0;
        .font-size();
    }
}

.demo_icon {
    padding: 10px;
    font-size: 0;
    li {
        margin: 10px;
        display: inline-block;
        text-align: center;
        // line-height: 50px;
        color: #000;
        .font-size(14);
        padding: 0 10px;
        width: 130px;
        line-height: 20px;
        p {
            color: #ccc;
        }

        &:before {
            color: #000;
            display: block;
            margin: 0 auto;
        }
    }
}

.demo_border {
    padding: 10px;
    font-size: 0;
    li {
        .font-size();
        line-height: 20px;
        padding: 10px;
        text-align: left;
        display: inline-block;
        width: 220px;
        margin-right: 10px;
        margin-bottom: 10px;
        background: #f8f8f8;
    }
}

.demo_textalign {
    padding-top: 10px;
    font-size: 0;
    .box;
    li {
        .box_flex;
        .font-size();
        line-height: 40px;
        background: #eee;
        margin: 0 10px;
    }
}

.demo_font {
    font-size: 0;
    li {
        padding-left: 10px;
        line-height: 40px;
    }
}