.button (@display: block, @width: 100%, @height: 30px, @bgcolor: none, @color: #fff) {
    display: @display;
    border: 0;
    text-align: center;
    outline: none;
    width: @width;
    line-height: @height;
    margin: 0 auto;
    background: @bgcolor;
    color: @color;
}


.button {
    .button();
}