.button (@display: block, @width: 100px, @height: 30px, @bgcolor: #eee, @color: #fff) {
    display: @display;
    border: 0;
    text-align: center;
    outline: none;
    width: @width;
    line-height: @height;
    margin: 0 auto;
    background: @bgcolor;
    color: @colo
}