/**
 * 色值定义
 * 字体色 color_*
 * 背景色 bg_*
 */

// 字体颜色
.color_black {
    color: @color-black !important;
}
.color_orange {
    color: @color-orange !important;
}
.color_blue {
    color: @color-blue !important;
}
.color_gray {
    color: @color-gray !important;
}
.color_red {
    color: @color-red !important;
}

// 背景颜色值定义
.bg_orange {
    background: @color-orange !important;
}
.bg_blue {
    background: @color-blue !important;
}
.bg_gray {
    background: @color-gray !important;
}
.bg_red {
    background: @color-red !important;
}