/**
 * 色值定义
 * 字体色 color_*
 * 背景色 bg_*
 */

// 字体颜色
.cl_white  { color: #fff !important; }
.cl_black  { color: @color-black !important; }
.cl_orange { color: @color-orange !important; }
.cl_blue   { color: @color-blue !important; }
.cl_gray   { color: @color-gray !important; }
.cl_dgray  { color: @color-dgray !important; }
.cl_lgray  { color: @color-lgray !important; }
.cl_red    { color: @color-red !important; }

// 背景颜色值定义
.bg_no     { background: none !important; }
.bg_white  { background: #fff !important; }
.bg_orange { background: @color-orange !important; }
.bg_blue   { background: @color-blue !important; }
.bg_gray   { background: @color-gray !important; }
.bg_dgray  { background: @color-dgray !important; }
.bg_lgray  { background: @color-lgray !important; }
.bg_red    { background: @color-red !important; }
.bg_order  { background: @color-order !important; }


// icon color
.color-icon(@color) {
    &:before {
        color: @color !important;
    }
}
.ci_white  { .color-icon(@color: @color-white); }
.ci_black  { .color-icon(@color: @color-black); }
.ci_blue   { .color-icon(@color: @color-blue); }
.ci_red    { .color-icon(@color: @color-red); }
.ci_orange { .color-icon(@color: @color-orange); }
.ci_gray   { .color-icon(@color: @color-gray); }
.ci_dgray  { .color-icon(@color: @color-dgray); }

