.mod_header {
    background: @color-orange;
    display: -webkit-box;
    -webkit-box-align: center;
    height: 44px;
    p {
        width: 44px;
        text-align: center;
        &:before{
            line-height: 22px;
        }
    }
    h1 {
        width: 0;
        text-align: center;
        .ellipsis();
        color: #fff;
        -webkit-box-flex: 1;
        .font-size(16);
    }
    div {
        width: 44px;
        text-align: center;
        .btn {
            .font-size(14);
            line-height: 44px;
            text-align: center;
            background: none;
            color: #fff;
        }
        &.icon_menu:before{
            text-align: center;
            line-height: 44px;
        }
    }
}

.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}


