.mod_header {
    background: @color-orange;
    display: -webkit-box;
    height: 44px;
    p {
        width: 44px;
        line-height: 44px;
        text-align: center;
        &.icon_back:before {
            margin-top: 9px;
        }
    }
    h1 {
        width: 0;
        text-align: center;
        .ellipsis();
        color: #fff;
        line-height: 44px;
        -webkit-box-flex: 1;
        .font-size(16);
    }
    div {
        width: 44px;
        .button {
            .font-size(14);
            line-height: 44px;
            text-align: center;
        }
        &.icon_menu:before{
            text-align: center;
            line-height: 44px;
        }
    }
}
