/**
 * 常用icon定义
 * font: 显示的icon式样（字体icon）
 * size: 大小
 * weight: 字体样式
 * block: 块级、内联
 * color: icon 颜色值
 */
.icon(@font: fff, @size: 28, @weight: normal, @block: inline-block, @color: #fff) {
    &:before {
        display: @block;
        content: "\@{font}";
        font-family: @icon-font-family !important;
        .font-size(@size);
        font-weight: @weight;
        vertical-align: middle;
        color: @color;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        // -moz-osx-font-smoothing: grayscale;
    }
}


// 各种 icon 定义
.icon_back  { .icon(@font: e60a, @color: #fff); }
.icon_ab    { .icon(@font: e606, @color: #fff); }
.icon_al    { .icon(@font: e611); }
.icon_ar    { .icon(@font: e614); }
.icon_au    { .icon(@font: e612); }
.icon_ad    { .icon(@font: e613); }
.icon_clear { .icon(@font: e608, @size: 20, @color: #ddd); }
.icon_ok    { .icon(@font: e60b, @color: #0087e3); }
.icon_dot   { .icon(@font: e601, @size: 16); }
.icon_sum   { .icon(@font: e604); }
.icon_close { .icon(@font: e608); }
.icon_help  { .icon(@font: e60e); }
.icon_check { .icon(@font: e60f); }


/**
 * 银行相关icon
 * width: 宽度
 * height: 高度
 * site: 位于图片中的位置
 * scale: background-size
 * image: 图片名称
 */
.icon-bank (@width: 40px, @height: 40px, @site: 0 0, @scale: 4/7, @image: icon_bank) {
    &:before {
        width: @width;
        height: @height;
        content: "";
        display: inline-block;
        vertical-align: middle;
        background: url("images/@{image}.png") no-repeat @site;
        & when (@scale > 0) {
            background-size: auto (1400 * @scale) * 1px;
        }
        & when (@scale = 0) {
            background-size: 100% auto;
        }
    }
}


// 支付宝
.bank_alipay   { .icon-bank(@scale: 0, @image: icon_alipay); }
// 块钱
.bank_bill     { .icon-bank(@scale: 0, @image: icon_bill); }
// 微信
.bank_weixin   { .icon-bank(@scale: 0, @image: icon_weixin); }
// 中国农业银行
.bank_abc      { .icon-bank(); }
// 颖东农商银行
.bank_fyydrcb  { .icon-bank(@site: 0 -40px); }
// 大连银行
.bank_bofdl    { .icon-bank(@site: 0 -80px); }
// 北京银行
.bank_bobj     { .icon-bank(@site: 0 -120px); }
// 中国人民银行
.bank_boc      { .icon-bank(@site: 0 -200px); }
// 成都银行
.bank_bocd     { .icon-bank(@site: 0 -240px); }
// 交通银行
.bank_bcmm     { .icon-bank(@site: 0 -280px); }
// 上海银行
.bank_bos      { .icon-bank(@site: 0 -320px); }
// 渤海银行
.bank_bhb      { .icon-bank(@site: 0 -360px); }
// 中国建设银行
.bank_ccb      { .icon-bank(@site: 0 -400px); }
// 成都农商银行
.bank_cdrcb    { .icon-bank(@site: 0 -440px); }
// 光大银行
.bank_cebb     { .icon-bank(@site: 0 -480px); }
// 兴业银行
.bank_cib      { .icon-bank(@site: 0 -520px); }
// 招商银行
.bank_cmbchina { .icon-bank(@site: 0 -560px); }
// 中国民生银行
.bank_cmbc     { .icon-bank(@site: 0 -600px); }
// 中信银行
.bank_ecitic   { .icon-bank(@site: 0 -640px); }
// 重庆银行
.bank_cqcb     { .icon-bank(@site: 0 -680px); }
// 重庆农村商业银行
.bank_cqrcb    { .icon-bank(@site: 0 -720px); }
// 东莞银行
.bank_dgb      { .icon-bank(@site: 0 -760px); }


// 广发银行
.bank_cgbc     { .icon-bank(@site: -50px 0); }
// 广东南粤银行
.bank_gdnyb    { .icon-bank(@site: -50px -40px); }
// 农村信用合作社
.bank_ncxyhzs  { .icon-bank(@site: -50px -80px); }
// 广东华兴银行
.bank_ghb      { .icon-bank(@site: -50px -120px); }
// 广州银行
.bank_gzcb     { .icon-bank(@site: -50px -160px); }
// 广州农村商业银行
.bank_grcb     { .icon-bank(@site: -50px -200px); }
// 哈尔滨银行
.bank_hrbcb    { .icon-bank(@site: -50px -240px); }
// 徽商银行
.bank_hsb      { .icon-bank(@site: -50px -280px); }
// 华夏银行
.bank_hxb      { .icon-bank(@site: -50px -320px); }
// 杭州银行
.bank_hzb      { .icon-bank(@site: -50px -360px); }
// 中国工商银行
.bank_icbc     { .icon-bank(@site: -50px -400px); }
// 江苏银行
.bank_jsbc     { .icon-bank(@site: -50px -440px); }
// 宁波银行
.bank_nbcb     { .icon-bank(@site: -50px -480px); }
// 南京银行
.bank_njcb     { .icon-bank(@site: -50px -560px); }
// 平安银行
.bank_pingan   { .icon-bank(@site: -50px -600px); }
// 中国邮政储蓄银行
.bank_psbc     { .icon-bank(@site: -50px -640px); }
// 山东省农村信用社
.bank_sdnxs    { .icon-bank(@site: -50px -720px); }
// 浦发银行
.bank_spdb     { .icon-bank(@site: -50px -760px); }


// 上海农商银行
.bank_srcb     { .icon-bank(@site: -100px 0); }
// 天津银行
.bank_tccb     { .icon-bank(@site: -100px -40px); }
// 浙江泰隆商业银行
.bank_zjtlcb   { .icon-bank(@site: -100px -80px); }
// 银联
.bank_up       { .icon-bank(@site: -100px -120px); }
// 无锡农村商业银行
.bank_wrcb     { .icon-bank(@site: -100px -160px); }
// 厦门银行
.bank_xmccb    { .icon-bank(@site: -100px -240px); }
// 苏州银行
.bank_suzb     { .icon-bank(@site: -100px -280px); }




