.mod_list_input {
    li {
        padding: 10px;
        .border-half(bottom);
        display: -webkit-box;
        -webkit-box-align: center;
        .font-size(16);
        .color_dgray();
        label,
        input,
        p {
            display: block;
        }
        label {
            width: 100px;
            font-weight: bold;
            color: #000;
        }
        input {
            width: 0;
            border: 0;
            outline: none;
            height: 40px;
            .font-size(16);
            .color_dgray();
            -webkit-box-flex: 1;
        }
        p {
            width: 50px;
            text-align: center;
        }

        .icon_arrow_right {
            &:before {
                color: @color-gray;
            }
        }
    }
}


.mod_list_table {
    dt {
        line-height: 50px;
        text-align: center;
        .font-size(18);
        .font_bold();
        .bg_gray();
    }
    dd {
        .border-half();
        ul {
            .border-half(bottom);
            .box();
            li {
                padding: 15px;
                width: 0;
                line-height: 20px;
                -webkit-box-flex: 1;
                &:nth-child(even) {
                    .border-half(left);
                }
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}