/**
 * padding: top,right,bottom,left
 * 1~30
 */
.padding(@n, @type: t) when (@n > 0) {
    .padding((@n - 1), @type);
    & when (@type = t) {
        @path: top;
        .p@{type}@{n} {
            padding-@{path}: (1px * @n) !important;
        }
    }
    & when (@type = r) {
        @path: right;
        .p@{type}@{n} {
            padding-@{path}: (1px * @n) !important;
        }
    }
    & when (@type = b) {
        @path: bottom;
        .p@{type}@{n} {
            padding-@{path}: (1px * @n) !important;
        }
    }
    & when (@type = l) {
        @path: left;
        .p@{type}@{n} {
            padding-@{path}: (1px * @n) !important;
        }
    }
}

.padding(40, t);
.padding(40, r);
.padding(40, b);
.padding(40, l);

.p3    { padding: 3px !important; }
.p5    { padding: 5px !important; }
.p10   { padding: 10px !important; }
.p15   { padding: 15px !important; }
.p20   { padding: 20px !important; }

.plr5  { padding: 0 5px !important; }
.plr10 { padding: 0 10px !important; }
.plr15 { padding: 0 15px !important; }
.plr20 { padding: 0 20px !important; }

.ptb5  { padding: 5px 0 !important; }
.ptb10 { padding: 10px 0 !important; }
.ptb15 { padding: 15px 0 !important; }
.ptb20 { padding: 20px 0 !important; }
