/**
 * 清除浮动
 * 利用伪类after
 */
.clearfix {
    &:after {
        display: block;
        content: "";
        clear: both;
        height: 0;
        visibility: hidden;
    }
}


/**
 * display: inline-block、block
 */
.dib { display: inline-block !important; }
.db { display: block !important; }
.div_none { display: none !important; }
.div_show { display: block !important; }


/**
 * align: center、left、right
 */
.text_center { text-align: center !important; }
.text_left { text-align: left !important; }
.text_right { text-align: right !important; }


/**
 * box-sizing: border-box、
 */
 .box-sizing(@val) {
    -webkit-box-sizing: @val;
 }
 .box-border {
    .box-sizing(border-box);
 }







