/**
 * 清除浮动
 * 利用伪类after
 */
.clearfix {
    &:after {
        display: block;
        content: "";
        clear: both;
        height: 0;
        visibility: hidden;
    }
}

/**
 * float
 * right、left
 */
.fl { float: left; }
.fr { float: right; }

.pos_s { position: static !important; }
.pos_f { position: fixed !important; }
.pos_a { position: absolute !important; }
.pos_r { position: relative !important; }
.oneline    { white-space: nowrap !important; } // 文字保持一行不换行
.ellipsis   { .ellipsis(); } // 单行文字显示省略号...

/**
 * font
 * normal 正常字体
 * bold 加粗字体
 */
.fn { font-weight: normal !important; }
.fb { font-weight: bold !important; }


/**
 * display: inline-block、block
 */
.dib { display: inline-block !important; }
.db  { display: block !important; }
.d_hide { display: none !important; }
.d_show { display: block !important; }


/**
 * align: center、left、right
 */
.tc { text-align: center !important; }
.tl { text-align: left !important; }
.tr { text-align: right !important; }


/**
 *
 */
.mod_scroll {
    .scrollfix();
    padding-top: 44px;
}

/**
 * box-sizing: border-box、
 */
.box-sizing(@val) {
    -webkit-box-sizing: @val;
}
.box_border { //border和padding计算入width之内，其实就是怪异模式
    .box-sizing(border-box);
}
.box_padding { //padding计算入width内
    .box-sizing(padding-box);
}


/**
 * 盒子
 */
.box {
    display: -webkit-box !important;
    & > * {
        display: block;
    }
}
.box_align {
    -webkit-box-align: center; 
}
.box_flex {
    width: 0;
    -webkit-box-flex: 1;
}

/**
 * list
 */

// list-line-height
.list-line-height (@h: 30px) {
    & > * {
        line-height: @h;
    }
}
.li_lh20{ .list-line-height(20px); }
.li_lh30{ .list-line-height(); }
.li_lh40{ .list-line-height(40px); }

// list box
.li_box {
    & > * {
        .box();
    }
}
.li_boxa {
    & > * {
        .box_align();
    }
}

// list padding
.list-padding (@type: all, @dist: 5px) {
    & > * {
        & when (@type = all) {
            padding: @dist;
        }
        & when (@type = y) {
            padding-top: @dist;
            padding-bottom: @dist;
        }
        & when (@type = x) {
            padding-left: @dist;
            padding-right: @dist;
        }
    }
}
.li_py5  { .list-padding (@type: y, @dist: 5px)}
.li_py10 { .list-padding (@type: y, @dist: 10px)}
.li_py15 { .list-padding (@type: y, @dist: 15px)}
.li_py20 { .list-padding (@type: y, @dist: 20px)}

.li_px5  { .list-padding (@type: x, @dist: 5px)}
.li_px10 { .list-padding (@type: x, @dist: 10px)}
.li_px15 { .list-padding (@type: x, @dist: 15px)}
.li_px20 { .list-padding (@type: x, @dist: 20px)}

.li_p5   { .list-padding (@type: all, @dist: 5px)}
.li_p10  { .list-padding (@type: all, @dist: 10px)}
.li_p15  { .list-padding (@type: all, @dist: 15px)}
.li_p20  { .list-padding (@type: all, @dist: 20px)}

// list display: block/inline-block
.li_db {
    & > * {
        display: block;
    }
}
.li_dib {
    font-size: 0;
    & > * {
        .font-size();
        display: inline-block;
    }
}

// list border
.list-border (@type: bottom, @color: gray) {
    & > * {
        .border-half(@type, @color);
    }
}
.li_bd_a { .list-border(bottom, gray); }
.li_bd_b { .list-border(bottom, red); }
.li_bd_c { .list-border(bottom, black); }
.li_bd_d { .list-border(bottom, blue); }
