/**
 * width:
 */
.width (@width: 10px) {
    width: @width !important;
}

.w_auto { width: auto !important; }
.w_33   { width: 33.33333% !important; }
.w_50   { .width(50%) }
.w_80   { .width(80%) }
.w_100  { .width(100%) }

.w5     { .width(5px); }
.w10    { .width(10px); }
.w15    { .width(15px); }
.w20    { .width(20px); }
.w25    { .width(25px); }
.w30    { .width(30px); }
.w33    { .width(33px); }
.w40    { .width(40px); }
.w50    { .width(50px); }
.w60    { .width(60px); }
.w70    { .width(70px); }
.w80    { .width(80px); }
.w90    { .width(90px); }
.w100   { .width(100px); }
.w120   { .width(120px); }
.w150   { .width(150px); }
.w200   { .width(200px); }
.w300   { .width(300px); }